#tabs {
  padding: 8px 8px 0;
  overflow-x: auto;
  display: flex;
  gap: 8px;
  background-color: var(--color-editorGroupHeader-tabsBackground);
  list-style-type: none;
  margin: 0;
}

.tab {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: transparent;
  color: var(--color-tab-inactiveForeground);
}

.tab:hover:not(.active) {
  background-color: var(--color-tab-hoverBackground);
}

.tab.active {
  background-color: var(--color-tab-activeBackground);
  color: var(--color-tab-activeForeground);
}

.tab>button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.tab>button:hover {
  background-color: #7f7f7f22;
}

.tab svg {
  fill: var(--color-tab-inactiveForeground);
}

.tab.active svg {
  fill: var(--color-tab-activeForeground);
}

.tab.saved .icon-unsaved,
.tab.unsaved svg:hover .icon-unsaved,
.tab.unsaved svg:not(:hover) .icon-x {
  display: none;
}