#theme-dialog > div {
  display: grid;
  grid-template-areas:
    'a a'
    'b c';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  max-height: 100%;
  min-height: 0;
  overflow: hidden;
}

#theme-dialog .confirm {
  height: 100%;
}

#theme-dialog .confirm:disabled {
  background-color: #e6e0e91a;
  color: #e6e0e961;
  cursor: default;
}

#theme-dialog .confirm:not(:disabled):hover {
  /* background-color: #00a656; */
}

#theme-dialog .confirm:focus-visible {
  /* outline: 2px solid #00b55e; */
}

#theme-input-editor {
  border-radius: 1rem;
  overflow: hidden;
  min-height: 0;
  border: 1px solid #7f7f7f22;
}
