@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

#app,
#main {
  display: grid;
  width: 100vw;
  grid-template-rows: min-content minmax(0, 1fr);
}

#main {
  min-height: 0;
}

#editor {
  height: 100%;
}

#welcome {
  background-color: var(--color-editor-background);
}
